h3{
  position: absolute;
    width: 172px;
    height: 32px;
    left: 89px;
    top: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    /* identical to box height, or 89% */
  
    letter-spacing: 0.1px;
  
    color: #000000;
}